/*GRID GARDEN

  Level 1/28*/
  grid-column-start:3;
  /*Level 2/28*/
  grid-column-start:5;
  /*Level 3/28*/
  grid-column-end:4;
  /*Level 4/28*/
  grid-column-end:2;
  /*Level 5/28*/
  grid-column-end:5;
  /*Level 6/28*/
  grid-column-start:-3;
  /*Level 7/28*/
  grid-column-end:span 2;
  /*Level 8/28*/
  grid-column-end:span 5;
  /*Level 9/28*/
  grid-column-start:span 3; ou grid-column-start: 3;
  /*Level 10/28*/
  grid-column:4/6;
  /*Level 11/28*/
  grid-column:  span 3/5; grid-column:  2/5;
  /*Level 12/28*/
  grid-row-start:3;
  /*Level 13/28*/
  grid-row:3/6;
  /*Level 14/28*/
  grid-column:2;
  grid-row:5;
  /*Level 15/28*/
  grid-column:2/6;
  grid-row:1/6;
  /*Level 16/28*/
  grid-area:1/2/4/6;
  /*Level 17/28*/
  grid-area:2/3/5/6;
  /*Level 18/28*/
  order:1;
  /*Level 19/28*/
  order:-1;
  /*Level 20/28*/
  grid-template-columns:50% 20% 10% 10% 10%;
  /*Level 21/28*/
  grid-template-columns:repeat(8,12.5%);
  /*Level 22/28*/
  grid-template-columns:100px 3em 40%;
  /*Level 23/28*/
  grid-template-columns:1fr 5fr;
  /*Level 24/28*/
  grid-template-columns:50px 1fr 1fr 1fr 50px;
  /*Level 25/28*/
  grid-template-columns:75px 3fr 2fr;
  /*Level 26/28*/
  grid-template-rows:repeat(4,12.5px) 4fr;
  /*Level 27/28*/
  grid-template:60%/200px;
  /*Level 28/28*/
  grid-template:1fr 50px/20% 80%;
  