*{
    margin: 0;
    padding: 0;
    
}
#index-article{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    
}
.video-gallery{
    display: grid;
    grid-template-rows: 3fr 1fr;
    border: 1px solid green;    
    margin: 10px 0;    
    justify-items: start;
    align-items: center;
}
section.video-gallery  p{
    display: grid;
    
}
header{        
    display: flex;
    background-color: #ef843a;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 15vh;        
}
footer{
    width: 100vw;
    height: 15vh;
    background-color: #323b3e;
    color: white;
    position: relative;
    bottom: 0;
    text-align: center;
    line-height: 15vh;
}
input{        
    width: 15vw;
    height: 3vh;    
    margin-right: 2vw;
}
h1{
    margin-left: 2vw;
}
h2{
    margin-left: 19vw;
}
img{
    width: 20vw;
    height: 30vh;
    display: grid;
    align-self: center;
}
video{
    width: 90vw;
    height: 70vh;
    display: block;
    margin: 0 auto;
    padding: 1%;
}

@media screen and (max-width: 750px){
    
    #index-article{     
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);                
    }
    img{
        width: 25vw;
        height: 30vh; 
    }
    input{        
        width: 20vw;
        
    }
}
@media screen and (max-width: 550px){
    
    #index-article{     
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);                
    }
    input{        
        width: 25vw;
        
    }
    img{
        width: 40vw;
        height: 30vh;
        
    }
}
@media screen and (max-width: 400px){
    
    #index-article{     
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);                
    }
    img{
        width: 70vw;
        height: 30vh;
        
    }
    input{        
        width: 30vw;
        
    }
    h1{
        font-size: 1.2em;
    }
    h3{
        font-size: 0.8em;
    }
}